#wrapper{
	width:985px;
	margin:0 auto;
	z-index:2;
	position:relative;
}
#header{
	width:100%;
	z-index:2;
	padding:0 0 0px;
	position:relative;
	margin:0 0 -26px;
	background:url(../images/bg-header.png) 50% 100% no-repeat;
}
#header:after{
	content:'';	display:block;	clear:both;
}
.logo{
	margin:0;
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo.png) no-repeat;
	width:169px;
	height:60px;
}

.logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo a{
  display:block;
  height:100%;
}
.top-holder{
  width:600px;
  float:right;
  padding:30px 0;
}
.top-holder .follow{
  font-size:15px;
  line-height:18px;
  color:#595f63;
  text-shadow: 1px 1px 1px #fff;
  float:left;
  margin:30px 7px 0 30px;
}
.top-holder ul {
  float:right;
  width:100%;
  list-style: none;
}
.top-holder li{
  float:left;
  margin:0 0 0 30px;
  text-decoration: underline;
  list-style: none;
}
