<div id="page">
<div class="topic_content">

<hgroup>
  <h1><%= @title %></h1>
</hgroup>

<div class="padder">
  <h2>Articles</h2>
  <% @articles.each do |name, title, _| %>
    <ul class="articles results">
      <li>
	    <a href="/articles/<%= slugify(name) %>"><%= title %></a>
	  </li>
    </ul>
  <% end %>
</div>

</div><!-- /#topic_content -->
</div><!-- /#page -->
